@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
    user-select: none;
   -webkit-user-select: none; 
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none; 
}
.App{
	padding-top: 60px;
}
p{
	word-wrap: break-word;
}

#nav{	
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;	
	background-color: orange;
	align-items: center;
	z-index: 1;
}
#brand-div{
	width: 50%;
}
#nav-brand{
	margin-left: 15px;
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 40px;
	font-weight: 600;
}
#nav-brand:focus{
	outline: none;
}
#ul-div{
	width: 50%;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a{
	text-decoration: none;
}


#post, #search, #profile{
	margin: 0 5px;
	color: white;
	padding: 10px 15px;
	border: 2px solid white;
	border-radius: 5px;
	font-weight: 600;
}

#post:active, #search:active, #profile:active{
	color: orange;
	background-color: white;
}

form{
	display: flex;
	flex-direction: column;
}

#input-username, #input-password, #signup-name, #signup-username, #signup-password{
	border: 2px solid orange;
	padding: 10px;
	border-radius: 10px;
	display: block;
	margin: 5px auto;
	width: 50%;
}
#input-username:focus, #input-password:focus, #signup-name:focus, #signup-username:focus, #signup-password:focus, button:focus{
	outline: none;
}

#input-button, #signup-button{
	width: 200px;
	color: white;
	background-color: orange;
	border: 2px solid orange;
	border-radius: 10px;
	padding: 5px;
	display: block;
	margin: 5px auto;
	font-size: 20px;
}
#input-button:active, #signup-button:active{
	background-color: white;
	color: orange;
}

.switch-auth{
	display: block;
	margin: 0 auto;
}

.warning{
	display: block;
	margin: 0 auto;
	color: red;
}
#logout-button{
	display: block;
	margin: 0 auto;
	font-size: 20px;
	border-radius: 10px;
	color: red;
	border: 3px solid red;
	width: 52%;
	padding: 10px;
	background-color: white;
}
#logout-button:active{
	color: white;
	background-color: red;
}
#go-home-button, #my-ads, #my-favourites{
	text-align: center;
	display: block;
	margin: 10px auto;
	font-size: 20px;
	border-radius: 10px;
	padding: 10px;
	background-color: white;
	width: 50%;
}
#go-home-button{
	color: green;
	border: 3px solid green;
}
#my-ads{
	border: 3px solid navy;
	color: navy;
}
#my-favourites{
	color: brown;
	border: 3px solid brown;
}
#my-favourites:active{
	background-color: #d400e3;
	color: white;
}
#my-ads:active{
	color: white;
	background-color: navy;
}
#go-home-button:active{
	color: white;
	background-color: green;
}

#google-login, #facebook-login{
	display: block;
	margin: 10px auto;
	width: 50%;
	padding: 10px;
	border: 2px solid orange;
	font-size: 17px;
	border-radius: 10px;
	color: black;
	text-align: center;
}

#or-login{
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	color: #585c59;
}
.iconify{
	font-size: 25px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}
#loggedin-name{
	text-align: center;
	color: #363836;
}
.post-label{
	display: block;
	margin: 10px auto;
	font-size: 17px;
}
select{
	width: 52vw;
	padding: 10px;
	border: 2px solid orange;
	border-radius: 10px;
}
select:focus{
	outline: none;
}
#imgs-upload{
	padding: 5px 0;
	border-radius: 10px;
	width: 52vw;
	border: 2px solid orange;
	background-color: white;
}
#imgs-upload:focus{
	outline: none;
}
#title,#price, #description, #contact{
	width: 50vw;
	border: 2px solid orange;
	padding: 10px;
	border-radius: 10px;
}
#title:focus,#price:focus, #description:focus, #contact:focus{
	outline: none;
}
#goto-login{
	display: block;
	margin: 0 auto;
	color: orange;
	width: 50%;
	font-size: 20px;
	padding: 10px;
	border: 2px solid orange;
	border-radius: 10px;
	text-align: center;
}
#goto-login:active{
	color: white;
	background-color: orange;
}
#upload-button{
	display: block;
	margin: 10px auto;
	width: 250px;
	background-color: orange;
	color: white;
	font-size: 20px;
	border: none;
	border-radius: 10px;
	padding: 10px;
}

#upload-button:disabled{
	background-color: #ffb75e;
}
#upload-button:active{
	transform: scale(0.9);
}
#view-ad-div{
	display: block;
	margin: 20px auto;
	border: 3px solid orange;
	padding: 10px;
	width: 400px;
}
#view-ad-img-div{
	height: 200px;
	width: 100%;
	display: flex;
	align-items: center;
}
#view-ad-img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	border-radius: 5px;
}
#view-ad-img-navigation, #view-ad-title, #view-ad-condition, #view-ad-price, #view-ad-contact, #view-ad-description, #view-ad-uploadDate, #view-ad-lastUpdated, #view-ad-owner{
	display: block;
	margin: 10px auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.img-nav-button{
	border-radius: 50%;
	width: 60px;
	height: 60px;
	color:white;
	font-size: 25px;
	background-color: orange;
	border: none;
}
.view-ad-detail-para{
	width: 49%;
	font-size: 18px;
}
.img-nav-button:active{
	background-color: white;
	color: orange;
	border: 3px solid orange;
}

#view-ad-detail div:nth-child(odd){
	padding: 0 10px;
	background-color: orange;
	border-radius: 10px;
}
#view-ad-controls{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#edit-button{
	border: none;
	background-color: #0cf054;
	color: white;
	padding: 10px;
	border-radius: 5px;
	font-size: 20px;
}
#delete-ad{
	background-color: red;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
}
#delete-ad:focus{
	outline: none;
}
#delete-ad:active{
	transform: scale(0.9);
}
#view-ad-fav-button:active{
	transform: scale(0.9);
}

.card{
	margin: 10px;
	width: 190px;
	border: 2px solid orange;
	border-radius: 10px;
}

.card-image{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: 100px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card-detail{
	padding: 3px;
}
.card-title{
	padding-left: 10px;
	font-weight: bold;
	word-wrap: break-word;
	width: 100%;
	height:15px;
}
.card-description{
	padding-left: 10px;
	color: gray;
	font-weight: bold;
	font-size: 15px;
	height: 15px;
	margin: 0;
}
.card-price{
	padding-left: 10px;
	margin: 0;
	padding-top: 5px;
}
.card-info{
	display: block;
	color: white;
	text-align: center;
	background-color: orange;
	padding: 10px 0;
	width: 70%;
	margin: 0 auto;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.card-info{
	height: 15px;
}


.showcase-div{
	margin: 10px 0;
}
.showcase-div-p{
	background-color: #e3e1e1;
	padding: 10px;
	border-radius: 5px;
	margin: 10px 0;
}
.showcase-div-items,.items-div {
	display: grid;
	grid-template-columns: repeat(auto-fill, 210px);
}
.showcase-div-more-info{
	background-color: orange;
	color: white;
	font-size: 20px;
}
.showcase-div-show-all{
	display: block;
	margin: 5px auto 20px auto;
	background-color: orange;
	text-align: center;
	padding: 3px 10px;
	width: 100px;
	font-size: 22px;
	color: white;
}
#home-title{
	font-size: 30px;
	font-family: 'Potta One', cursive;
}
#search-form{
	margin: 0 auto;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#basic-search{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}

#search-title{
	width: 40vw;
	border-radius: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid orange;
}

#search-min, #search-max{
	padding: 10px;
	border-radius: 5px;
	border: 2px solid orange;
	margin-top: 10px;
}

#search-submit{
	margin-left: 30px;
	height: 38px;
	border-radius: 5px;
	border: none;
	width: 100px;
	background-color: orange;
	font-size: 20px;
	color: white;
}
#search-submit:active{
	transform: scale(0.95)
}
#search-minmax{
	display: flex;
	justify-content: space-around;
}
#search-min, #search-max{
	/*border: 2px solid orange;*/
}

#search-catagory, #search-condition, #search-minmax{
	margin: 5px;
}

#advance-search-button{
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	border: 2px solid orange;
	background-color: inherit;
	font-size: 17px;
	color: orange;
	padding: 3px 10px;
	border-radius: 3px;
}
@media(max-width: 850px){


	#search-minmax{
		display: flex;
		flex-direction: column;
		align-items: center;
	}	
	#search-min, #search-max{
		margin: 10px;
		width: 75%;		
	}
}
@media(max-width: 480px){
	#brand-div{
		width: 35vw;
	}
	#nav-brand{
		margin-left: 5px;
	}
	#ul-div{
		width: 85vw;
	}
	ul{
		justify-content: flex-end;
	}
	#post, #search, #profile{
		margin: 0 2px;
		padding: 7px 10px;
	}
	#go-home-button, #google-login, #facebook-login, #goto-login, #input-username, #input-password, #signup-name, #signup-username, #signup-password, #my-favourites, #my-ads{
		width: 75%;
	}
	#logout-button{
		width: 82%;
	}
	#title,#price, #description, #contact{
		width: 75vw;
	}
	select, #upload{
		width: 82vw;
	}
	#goto-login,{
		width: 75%;
	}
	#imgs-upload{
		width: 80vw;
	}
	#view-ad-div{
		width: 85vw;
	}
	.card{
		margin: 4px 0;
		width: 45vw;
	}
	.showcase-div-items, .items-div {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}
	#home-title{
		font-size: 23px;
	}
	#search-title{
		width: 50vw;
	}

}
